<div class="container">
  <h1>Star Wars People</h1>
  <button color="primary" mat-button (click)="load()">Load People</button>
  <br><br>
  <div class="input-boxes">
    <mat-form-field appearance="outline">
      <mat-label>Options</mat-label>
      <mat-select [formControl]="items" [value]="optionList[0]">
        <mat-option *ngFor="let opt of optionList" [value]="opt.value">{{opt.title}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput disabled [formControl]="query">
    </mat-form-field>
  </div>
  <app-table [filters]="queryType"></app-table>
</div>
